<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{{ site.title }}{% if page.title %} | {{ page.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% include analytics.html %}

    <!-- Custom font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <!-- Styles -->
    <link rel="stylesheet" href="{{ "/assets/styles/main.css" | relative_url }}">
 
    <!-- Scripts -->
    <script src="{{ "/assets/scripts/main.js" | relative_url }}"></script>

    {% include favicon.html %}

</head>
