---
---

$color-primary: #446cb3;

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Montserrat", sans-serif;
}

html,
body {
	height: 100%;
}

a {
	color: $color-primary;
	&:hover,
	&:focus {
		color: darken($color-primary, 8%);
	}
}

.site-main {
	/*font-size: 1.15rem;*/
	h2 {
		font-size: 2.5rem;
		text-align: center;
	}
}

.site-footer {
	padding: 2rem;
	margin: 2rem;
	background-color: rgb(248, 248, 250);
}

.hero-wrapper {
	height: 100%;
	padding: 2rem;
}
.hero {
	color: #fff;
	position: relative;
	padding: 10rem 2rem;
	height: 100%;
	background-image: url(/assets/images/site/hero-bg.jpg);
	background-size: cover;
	background-position: center;
	.hero-left,
	&:after {
		content: " ";
		display: block;
		position: absolute;
		z-index: 0;
		top: 0;
		bottom: 0;
	}
	&:after {
		left: 0;
		width: 100%;
		background-color: rgba(68, 108, 179, .5);
	}
	.hero-left {
		left: 0;
		width: 100%;
		background-color: rgba(68, 108, 179, .75);
		-moz-transition: width 1000ms ease-out;
		-webkit-transition: width 1000ms ease-out;
		transition: width 1000ms ease-out;
	}
	&.in {
		.hero-left {
			width: 50%;
		}
	}
	h1,
	h2,
	h3 {
		font-weight: 400;
		letter-spacing: .2em;
	}
	h1 {
		@media (min-width: 992px) {
			font-size: 3.5rem;
		}
	}
	.container-fluid {
		position: relative;
		z-index: 1;
		top: 50%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	}
}

.project-list {
	.card {
		margin-bottom: 2rem;
	}
	.btn-group {
	  overflow-x: scroll;
	  width: 100%;
	}	
}
