<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body{% if page.class_name %} class="{{ page.class_name}} "{% endif %}>
    <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    {% include header.html %}

    {{ content }}

    {% include footer.html %}

  </body>
</html>
